<ion-header class="header" [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button size="small" class="membros" (click)="integrantes()">
        <ion-icon slot="icon-only" name="people-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="page-title">Nome app</ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" class="deslogar" (click)="deslogar()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="div_pesquisa" >
    <ion-select [(ngModel)]="platform" (ionChange)="plataforma_selecionada()" justify="space-between" label="Plataforma" placeholder="Selecione a Plataforma">
      <ion-select-option value="none">Nenhuma</ion-select-option>
      <ion-select-option value="pc">PC</ion-select-option>
      <ion-select-option value="ps4">PS4</ion-select-option>
      <ion-select-option value="ps5">PS5</ion-select-option>
      <ion-select-option value="steam">Steam</ion-select-option>
      <ion-select-option value="epic-games-store">Epic Games</ion-select-option>
      <ion-select-option value="ubisoft">Ubisoft</ion-select-option>
      <ion-select-option value="xbox-one">Xbox one</ion-select-option>
      <ion-select-option value="xbox-series-xs">Xbox Series XS</ion-select-option>
      <ion-select-option value="gog">GOG</ion-select-option>
      <ion-select-option value="switch">Switch</ion-select-option>
      <ion-select-option value="android">Android</ion-select-option>
      <ion-select-option value="ios">Ios</ion-select-option>
      <ion-select-option value="vr">VR</ion-select-option>
      <ion-select-option value="origin">Origin</ion-select-option>
      <ion-select-option value="xbox-360">Xbox 360</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<!--DIV PADRAO-->

<ion-content [fullscreen]="true" *ngIf="mostrarDivPadrao"  class="content" >
  <ion-card class="card" *ngFor="let giveaway of giveaways">
    <div class="thumbnail">
      <img [src]="giveaway.image" alt="Thumbnail">
    </div>
    <ion-card-header class="cardHeader">
      <ion-card-title class="cardTitle" >{{ giveaway.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <ion-list lines="none">
        <ion-item class="info-item">
          <ion-label class="info-label">Status:</ion-label>
          <ion-text class="info-value">{{ giveaway.status }}</ion-text>
        </ion-item>
        <ion-item class="info-item">
          <ion-label class="info-label">Preço:</ion-label>
          <ion-text class="info-value">{{ giveaway.worth }}</ion-text>
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="verMais(giveaway.id)" class="ver-mais-btn">Ver mais</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<!--DIV PESQUISA-->

<ion-content [fullscreen]="true" *ngIf="mostrarDivPesquisa"  class="content" >
  <ion-card class="card" *ngFor="let results of platform_results">
    <div class="thumbnail">
      <img [src]="results.image" alt="Thumbnail">
    </div>
    <ion-card-header class="cardHeader">
      <ion-card-title class="cardTitle" >{{ results.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <ion-list lines="none">
        <ion-item class="info-item">
          <ion-label class="info-label">Status:</ion-label>
          <ion-text class="info-value">{{ results.status }}</ion-text>
        </ion-item>
        <ion-item class="info-item">
          <ion-label class="info-label">Preço:</ion-label>
          <ion-text class="info-value">{{ results.worth }}</ion-text>
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="verMais(results.id)" class="ver-mais-btn">Ver mais</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
