<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="button_voltar" size="small" (click)="integrantes_voltar()" id="button-voltar">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Integrantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">integrantes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="integrantes">
    
    <div class="membro_1">
      <div class="membro_1_foto">
        <img class="foto_1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQghl_LVWxmcW1az7SxoH2sYhfw5ZCg625bWJBM6ht3uQ&s">
      </div>
      <div class="membro_1_infos">
        <h2>Rodrigo Ferreira</h2>
      </div>
    </div>

    <div class="membro_2">
      <div class="membro_2_infos">
        <h2>Caio Ferreira</h2>
      </div>
      <div class="membro_2_foto">
        <img class="foto_2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQghl_LVWxmcW1az7SxoH2sYhfw5ZCg625bWJBM6ht3uQ&s">
      </div>
    </div>

    <div class="infos" >
      <h1><strong>Turma:</strong></h1>
        <p>ADS0302M / Manhã</p>
      <h1><strong>Curso:</strong></h1>
      <p>Análise e Desenvolvimento de Sistemas</p>
    </div>

  </div>
</ion-content>
