.header {
    --ion-toolbar-background: #1f1f1f;
  }
  
  .toolbar {
    display: flex;
    align-items: center;
    height: 60px;
  }
  
  .back-button,
  .membros,
  .deslogar {
    --background: transparent;
    --color: white;
    margin: 0 12px;
  }
  
  #page-title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: white;
  }
  
  ion-icon {
    font-size: 40px; 
  }
  
  .content {
    --ion-background-color: rgb(196, 196, 196);
  }
  
  .card {
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .thumbnail img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .info-item {
    --padding-start: 0;
    display: flex;
    flex-direction: column; /* Faz com que os itens sejam empilhados verticalmente */
  }
  
  .info-label {
    font-weight: bold;
    color: #d1d1d1;
  } 

  .info-label-2 {
    font-size: 17px;
    font-weight: bold;
    color: #d1d1d1;
  }
  
  .info-value {
    color: #d1d1d1;
  }

  .info-value-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    color: #d1d1d1;
  }
  
  .participar-btn {
    --background: #3880ff;
    --color: white;
    margin-top: 16px;
    border-radius: 8px;
  }
  
  .participar-btn:hover {
    --background: #3171e0;
  }
  
  .cardTitle {
    text-align: center;
  }
  